/*萌百*/
a.text:link {
	color: #0645ad;
	text-decoration:none;
}

a.text:visited {
	color: #0645ad;
	text-decoration:none;
}

a.text:hover {
	color: #0645ad;
	text-decoration:underline;
}

a.text:active {
	color: #0645ad;
	text-decoration:underline;
}

@font-face {
	font-family: consolas;
	src: url(consola.woff);
}

code {
	font-family: consolas, monospace;
	background-color: #f8f9fa;
	border: 1px solid #eaecf0;
	border-radius: 2px;
	padding: 1px 4px;
}
/*萌百*/

/*runoob*/
ul.navi {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
}

ul.navi li {
	float: left;
}

ul.navi li a {
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.navi li a:hover:not(.active) {
	background-color: #ddd;
}

ul.navi li a.active {
	color: white;
	background-color: #4caf50;
}

div.header {
	background-color: #f1f1f1;
	padding: 20px;
	text-align: center;
}

div.footer {
	background-color: #f1f1f1;
	padding: 10px;
	text-align: center;
}

div.index {
	background-color:#ddffff;
	padding:14px;
	border-left:6px solid #cccccc;
	border-color:#2196f3;
	text-align: left;
}
/*runoob*/

body {
	margin: 0 auto;
	font-family: Tahoma, Arial, sans-serif;
}

p.foot {
	font-size:10px;
	color:#d0d0d0;
}

h2 {
	text-align: center;
}

div.main {
	width:80%;
	margin-left:10%;
}
