<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="img/small_goodbar.png" />
		<link rel="shortcut icon" href="img/small_goodbar.png" /> 
		<link rel="apple-touch-icon" href="img/small_goodbar.png" />
		<link rel="apple-touch-icon-precomposed" href="img/small_goodbar.png" />
		<title>咕霸百科全书 - {{page.title | deafult: 无标题}}</title>
    
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="../css/MGE_style.css">
	</head>
	<body>
		<div class="header">
			<img src="img/goodbar.png" alt="the Logo of the Multiverse Goodbar Encyclopedia" width="512" height="128" />
			{% if page.description %}
			<hr/>
			<h2>{{page.description}}</h2>
			{% endif %}
		</div>
		<ul class="navi">
			{% if page.a1 %}
				<li><a class="active" href="index">主页</a></li>
			{% else %}
				<li><a href="index">主页</a></li>
			{% endif %}
			
			<li><a href="../news">新闻</a></li>
			
			{% if page.a2 %}
				<li><a class="active" href="contact">联系</a></li>
			{% else %}
				<li><a  href="contact">联系</a></li>
			{% endif %}
			
			{% if page.a3 %}
				<li><a class="active" href="about">关于</a></li>
			{% else %}
				<li><a href="about">关于</a></li>
			{% endif %}
			
			<li><a href="..">退回</a></li>
		</ul>
		
		<!-- main start -->
		
		<div class="main">	
{{content}}
		</div>
		
		<!-- main end -->
		
		<div class="footer">
			{% if page.copy %}
			<p class="foot">本页面为转载内容。版权归原作者所有。</p>
			{% else %}
			<p class="foot">Copyright&copy;2021-∞   All Rights Reserved.版权所有。<br/><del>未经作者允许禁止转载</del><strong>作者允许了也不可以！！！</strong><br/>禁止转载/n次创作(n>1)/用于商业活动/用于非商业活动/等等。</p>
			{% endif %}
			<p class="foot">本页面基于<a class="text" href="https://pages.github.com">GitHub Pages</a>。</p>
		</div>
	</body>
</html>
